* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 70px;
    padding-bottom: 90px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text {
    padding: 15px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 60px;
}

.submit {
    background: #ffffff;
    color: #0004fc;
    font-weight: bold;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 250px;
    margin: 0 auto;
}

.list {
    margin-top: 60px;
    padding-left: 190px;
    padding-right: 190px;
    font-size: 18px;
    font-weight: bold;
}

.error {
    padding: 15px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 60px;
    placeholder: red;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 24px;
    border-bottom: 2.3px solid #887171;
    padding-bottom: 22px;
    color: #3d3939
}

li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
    .content {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .text {
        padding: 15px;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 60px;
    }
    .error {
        padding: 15px;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 60px;
    }
    .submit {
        width: 200px;
        margin: 0 auto;
    }
    .list {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width:665px) {
    .content {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 70px;
        padding-bottom: 15px;
    }
    .text {
        padding: 13px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .error {
        padding: 13px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .submit {
        width: 150px;
        margin: 0 auto;
        font-size: 15px;
    }
    .list {
        padding-left: 70px;
        padding-right: 70px;
    }
}